-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{ :class => ('hilite' if @sort_by == :title) }
        %a{ :href  => movies_path(:sort_by => 'title'), :title => "title_header", :id => "title_header"}
          Movie Title
      %th Rating
      %th{ :class => ('hilite' if @sort_by == :release_date) }
        %a{ :href => movies_path(:sort_by => "release_date"), :title => "release_date_header", :id => "release_date_header"}
          Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
